<div class="flex justify-center items-center w-full h-full">
    <div class="w-full max-sm:hidden">
        <img [src]="isLogin?'\bg-01.png' : '\bg-02.png'" alt=""/>
    </div>
    <mat-card appearance="outlined" class="w-full h-full flex justify-center items-center rounded-none bg-white">
        <h6 [ngClass]="isLogin ? 'welcome' : 'sign-up-welcome'">{{isLogin==true ? "Welcome to Admira!":"Sign Up"}}</h6>
        <h6 [ngClass]="isLogin ? 'title' : 'sign-up-title'">{{isLogin==true ? "Sign in":"Enter details to create your account"}}</h6>
        <form class="flex flex-col gap-2">
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <div class="flex justify-between">
                    <input matInput placeholder="">
                    <mat-icon>face</mat-icon>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <div class="flex justify-between">
                    <input matInput placeholder="">
                    <mat-icon>visibility</mat-icon>
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="isLogin == false">
                <mat-label>ConfirmPassword</mat-label>
                <div class="flex justify-between">
                    <input matInput placeholder="">
                    <mat-icon>visibility</mat-icon>
                </div>
            </mat-form-field>
            <div class="flex justify-between items-center mb-2">
                <mat-checkbox class="no-underline text-xs">{{isLogin ? 'Remember Me' : 'I have read and agree to the terms of service'}}</mat-checkbox>
                <a href="/">{{isLogin ? 'Forgot Password?' : ''}}</a>
            </div>
            <div class="mb-3">
                <div *ngIf="isLogin==true" routerLink="/Dashboard"><button mat-flat-button class="w-25rem">Login</button></div>
                <div *ngIf="isLogin==false"><button mat-raised-button class="w-25rem">Create account</button></div>             
            </div>
            <div class="text-0.9rem">
                {{isLogin ? "Don't have an account?" : 'Already have an account?'}}
                <a [routerLink]="isLogin ? '/SignUp' : '/Login'">
                    {{ isLogin ? 'Click here to create one' : 'Login' }}
                </a>
            </div>
        </form>
    </mat-card>
</div>