.container {
    display: flex;
}

.nav-bar-header {
    width: 80%;
}

.side-bar-container {
    width: 20%;
}

.user-navigation-content{
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.side-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.expand-circle img {
    transform: rotate(90deg);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.logo span {
    font-weight: 500;
}

.user-details {
    border-bottom: 1px solid rgb(187, 185, 185);
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem 1rem 0rem;
}

.user-card {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    outline: 3px solid white;
    box-shadow: 0 5px 25px #0003;
}

.profile-image {
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
}

.user-card input {
    display: none;
}

.user-role {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.user-mail {
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.user-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.user-block{
    position: relative;
    display: block;
    cursor: pointer;
}

.user-block .upload-title {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-50%, -50%);
    z-index: 2;  
}

.user-block .background-hover{
    position: absolute;
    display: none;
    background-color: #ffffff80;
    inset: 0rem;
    border-radius: 50%;
    z-index: 1;
}

.user-block:hover .upload-title, .user-block:hover .background-hover{
    display: block;
}

/* Dashboard navigation */

.nav-header{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1rem 1.2rem 0.5rem 1.2rem;
    color: #888b99;
}

.dashboard-header,.nav-main-header,.nav-sub-header,.nav-nested-header,.nav-nested-sub-header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
    align-items: center;
    color: #1a202e;
}

.dashboard-header mat-icon,.nav-main-header mat-icon{
    margin-right: 1rem;
    font-size: 1.3rem;
}

.dashboard-header-content,.nav-header-content{
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
}

.dashboard-submenu-item{
    padding: 0.8rem 4rem;
    background-color: #F0F2F6;
}

.nav-hover:hover{
    background-color: #E4E6F4;
}

.nav-sub-header{
    padding: 1rem 1.8rem 1rem 3rem;
    background-color: #F0F2F6;
}

.nav-nested-header{
    padding: 1rem 1.8rem 1rem 4rem;
    background-color: #F0F2F6;
}

.nav-nested-sub-header{
    padding: 1rem 1.8rem 1rem 5rem;
    background-color: #F0F2F6;
}